node_modules
dist
build
coverage
.tmp
.cache

.env
.env.*
!.env.example

logs
*.log

.DS_Store
Thumbs.db

docker-compose.override.yml
*.pid

.terraform
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.kubeconfig

ssl
*.pem
*.key
*.crt

*.sarif
results.json

.vscode
.idea
*.swp
*.swo

*.seed
*.tmp
*.bak